In [3]:
import numpy as np
import pandas as pd

# 引入机器学习包，用于辅助pca及kmeans
from sklearn.preprocessing import StandardScaler
# PCA 引入
from sklearn.decomposition import PCA
# kmeans包
from sklearn.cluster import KMeans

In [62]:
# 引入处理后的准备聚类（J，Q）
excel_cluster = pd.ExcelFile("问题二将亚分类数据.xlsx")
excel_cluster.sheet_names
data_J_clu = pd.read_excel(excel_cluster, "高钾")
data_Q_clu = pd.read_excel(excel_cluster, "铅钡")
data_J_wei = pd.read_excel(excel_cluster, "高钾权重")
data_Q_wei = pd.read_excel(excel_cluster, "铅钡权重")

# 获取经过特征选择后的数据
data_J_clu_af = data_J_clu[data_J_wei.columns.values].copy()
data_Q_clu_af = data_Q_clu[data_Q_wei.columns.values].copy()

In [74]:
# 将之前的权重进行归一化，方便后续计算
data_J_wei_to = (data_J_wei/data_J_wei.values.sum()).copy()

data_J_wei_temp = data_J_wei_to.copy()

data_Q_wei_to = (data_Q_wei/data_Q_wei.values.sum()).copy()

data_Q_wei_temp = data_Q_wei_to.copy()

In [88]:
data_J_wei_to

   氧化钠(Na2O)  氧化钾(K2O)  氧化钙(CaO)  氧化铜(CuO)  氧化钡(BaO)
0   0.208224  0.227036  0.204573  0.179979  0.180189

In [82]:
data_Q_wei_temp

   氧化钠(Na2O)  氧化铜(CuO)  氧化铅(PbO)  氧化钡(BaO)  五氧化二磷(P2O5)
0   0.178794  0.195379  0.195524  0.253216     0.177087

In [65]:
# 获取labels
def get_dif_type(data, weights, n):
    # 标准化
    data = data.copy()
    weights = weights.copy()
    scalar = StandardScaler()
    scalar.fit(data)
    scalar_data  = scalar.transform(data)
    # 主成分分析
    pca = PCA(n_components=2, random_state=1)
    pca.fit(scalar_data)
    x_pca = pca.transform(scalar_data)
    # 最终权重
    pca_weight = (weights.values * np.absolute(pca.components_)).sum(axis=1)
    print("权重",pca_weight)
    # kmeans得到label
    x_pca_kmeans = x_pca * pca_weight
    km = KMeans(n_clusters=n, random_state=4)
    km.fit(x_pca_kmeans)
    # 返回labels
    return km.labels_

In [ ]:
# # 保存运行结果labels
# d_J_v_0 = data_J_wei_to.iloc[:,1].values
# d_J_v_0 = np.arange(d_J_v_0,1,(1-d_J_v_0)/10)+ (1-d_J_v_0)/10

# data_J_res = pd.DataFrame(data=np.zeros((data_J_clu_af.shape[0], 10)),columns=d_J_v_0)

# for i in range(10):

#     data_J_wei_temp.iloc[:,[0,2,3,4]] -= data_J_wei_to.iloc[:,[0,2,3,4]]/10
#     data_J_wei_temp.iloc[:,1] += (1 - data_J_wei_to.iloc[:,1])/10
#     print(data_J_wei_temp.iloc[:,1])

#     label_temp = get_dif_type(data_J_clu_af, data_J_wei_temp, 3)
#     data_J_res.iloc[:,i] = label_temp
    
# data_J_wei_temp = data_J_wei_to.copy()

In [89]:
# 保存运行结果labels
d_J_v_0 = data_J_wei_to.iloc[:,1].values
d_J_v_0 = np.arange(d_J_v_0,1 + (1-d_J_v_0)/10 ,(1-d_J_v_0)/10) 

data_J_res = pd.DataFrame(data=np.zeros((data_J_clu_af.shape[0], 11)),columns=d_J_v_0)

for i in range(11):
    print(data_J_wei_temp.iloc[:,1].values)
    label_temp = get_dif_type(data_J_clu_af, data_J_wei_temp, 3)
    data_J_res.iloc[:,i] = label_temp

    data_J_wei_temp.iloc[:,[0,2,3,4]] -= data_J_wei_to.iloc[:,[0,2,3,4]]/10
    data_J_wei_temp.iloc[:,1] += (1 - data_J_wei_to.iloc[:,1])/10
    
data_J_wei_temp = data_J_wei_to.copy()

[0.22703564]
权重 [0.42620885 0.3686214 ]
[0.30433208]
权重 [0.44101068 0.34359862]
[0.38162851]
权重 [0.4558125  0.31857584]
[0.45892495]
权重 [0.47061433 0.29355307]
[0.53622138]
权重 [0.48541616 0.26853029]
[0.61351782]
权重 [0.50021799 0.24350751]
[0.69081426]
权重 [0.51501982 0.21848473]
[0.76811069]
权重 [0.52982164 0.19346196]
[0.84540713]
权重 [0.54462347 0.16843918]
[0.92270356]
权重 [0.5594253 0.1434164]
[1.]
权重 [0.57422713 0.11839362]

In [90]:
data_J_res

,0.227036,0.304332,0.381629,0.458925,0.536221,0.613518,0.690814,0.768111,0.845407,0.922704,1.000000
0,1,1,2,2,2,1,1,1,1,1,1
1,0,0,1,1,1,0,0,0,0,0,0
2,1,1,2,2,2,1,1,1,1,1,1
3,1,1,2,2,2,1,1,1,1,1,1
4,0,0,1,1,1,0,0,0,0,0,0
5,1,1,2,2,2,1,1,1,1,1,1
6,1,1,2,2,2,1,1,1,1,1,1
7,1,1,2,2,2,1,1,1,1,1,1
8,1,1,2,2,2,1,1,1,1,1,1
9,2,2,0,0,0,2,2,2,2,2,2
10,2,2,0,0,0,2,2,2,2,2,2
11,2,2,0,0,0,2,2,2,2,2,2
12,1,1,2,2,2,1,1,1,1,1,1
13,0,0,1,1,1,0,0,0,0,0,0
14,1,1,2,2,2,1,1,1,1,1,1
15,1,1,2,2,2,1,1,1,1,1,1

In [ ]:
# # 保存运行结果labels
# d_Q_v_0 = data_Q_wei_to.iloc[:,0].values
# d_Q_v_0 = np.arange(d_Q_v_0,1,(1-d_Q_v_0)/10)+ (1-d_Q_v_0)/10

# data_Q_res = pd.DataFrame(data=np.zeros((data_Q_clu_af.shape[0], 10)),columns=d_Q_v_0)

# for i in range(10):

#     data_Q_wei_temp.iloc[:,[1,2,3,4]] -= data_Q_wei_to.iloc[:,[1,2,3,4]]/10
#     data_Q_wei_temp.iloc[:,0] += (1 - data_Q_wei_to.iloc[:,0])/10
#     print(data_Q_wei_temp.iloc[:,0])

#     label_temp = get_dif_type(data_Q_clu_af, data_Q_wei_temp, 4)
#     data_Q_res.iloc[:,i] = label_temp
    
# data_Q_wei_temp = data_Q_wei_to.copy()

In [ ]:
# 保存运行结果labels
d_Q_v_0 = data_Q_wei_to.iloc[:,0].values
d_Q_v_0 = np.arange(d_Q_v_0,1 + (1-d_Q_v_0)/10,(1-d_Q_v_0)/10)

data_Q_res = pd.DataFrame(data=np.zeros((data_Q_clu_af.shape[0], 11)),columns=d_Q_v_0)

for i in range(11):
    print(data_Q_wei_temp.iloc[:,0].values)

    label_temp = get_dif_type(data_Q_clu_af, data_Q_wei_temp, 4)
    data_Q_res.iloc[:,i] = label_temp

    data_Q_wei_temp.iloc[:,[1,2,3,4]] -= data_Q_wei_to.iloc[:,[1,2,3,4]]/10
    data_Q_wei_temp.iloc[:,0] += (1 - data_Q_wei_to.iloc[:,0])/10
    
data_Q_wei_temp = data_Q_wei_to.copy()

In [92]:
data_Q_res

,0.178794,0.260915,0.343035,0.425156,0.507277,0.589397,0.671518,0.753638,0.835759,0.917879,1.000000
0,2,0,0,2,0,0,1,1,1,2,1
1,0,1,1,3,1,1,3,3,3,3,0
2,0,1,1,3,1,1,3,3,3,3,2
3,3,2,2,1,2,2,1,1,1,2,1
4,0,1,1,3,1,1,3,3,3,3,0
5,1,3,3,0,3,3,0,0,0,1,3
6,0,1,1,3,1,1,3,3,3,3,0
7,2,0,0,2,0,0,2,2,2,0,2
8,0,1,1,3,1,1,3,3,3,3,0
9,2,0,0,2,0,0,2,2,2,0,2
10,2,0,0,2,0,0,2,2,2,0,2
11,2,2,2,1,2,2,1,1,1,2,1
12,2,0,0,2,0,0,2,2,2,0,2
13,2,0,0,2,0,0,2,2,2,0,2
14,2,0,0,2,0,0,2,2,2,0,2
15,2,0,0,2,0,0,2,2,2,0,2
16,2,0,0,2,0,0,2,2,2,0,2
17,2,0,0,2,0,0,2,2,2,0,2
18,3,0,0,2,0,0,2,2,2,0,2
19,2,0,0,2,0,0,2,2,2,0,2
20,2,0,0,1,2,2,1,1,1,2,1
21,2,2,2,1,2,2,1,1,1,2,1
22,3,2,2,1,2,2,1,1,1,2,1
23,1,3,3,0,3,3,0,0,0,1,3
24,3,2,2,1,2,2,1,1,1,2,1
25,1,3,3,0,3,3,0,0,0,1,3
26,1,3,3,0,3,3,0,0,0,1,3
27,2,0,0,2,0,0,2,2,2,0,2
28,1,3,3,0,3,3,0,0,0,1,3
29,1,0,0,2,0,0,2,2,2,0,2
30,3,2,2,1,2,2,1,1,1,2,1
31,3,2,2,1,2,2,1,1,1,2,1
32,3,2,2,1,2,2,1,1,1,2,1
33,3,2,2,1,2,2,1,1,1,2,1
34,1,3,3,0,3,3,0,0,0,1,3
35,3,2,2,1,2,2,1,1,1,2,1
36,2,0,0,2,0,0,2,2,2,0,2
37,3,0,0,2,0,0,2,2,2,0,2
38,3,0,0,2,0,0,2,2,2,0,2
39,3,2,2,1,2,2,1,1,1,2,1

In [96]:
# 保存敏感度分析结果
Sensitivity_exc = pd.ExcelWriter("问题二敏感性分析结果.xlsx")
data_J_res.to_excel(Sensitivity_exc, "高钾中的K20")
data_Q_res.to_excel(Sensitivity_exc, "铅钡中的Na2O")
Sensitivity_exc.save()
Sensitivity_exc.close()